# Overview 
 - I want to understand rental price behaviour in dublin against various features such as location and the size of the property.
 - I want to create a model to predict a rental price based on such attributes so that I could make a more informed decision, when I try to enter the rental market next year.

## Data Collection

[Rent.ie](https://www.rent.ie/) is Ireland's newest and freshest lettings website offering renters an alternative to the Daft lettings section when looking for rental accommodation and flatshares. They  are focused on 18-25 year olds and aim to be the top renting website for this demographic.

In the following cells, I created a scraper tool to scrape over 2,500 property descriptions using python and selenium.

In [38]:
rent_ie_url ="https://www.rent.ie/houses-to-let/renting_dublin/page_{0}/"
import geopy.distance
from copy import deepcopy
import googlemaps
import googleplaces
from pprint import pprint
import requests
import json
import requests
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import TimeoutException
from selenium.webdriver.remote.webelement import WebElement
import selenium.webdriver.support.ui as ui
import selenium.webdriver.support.expected_conditions as EC
import time
import os
import pandas as pd
import random
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from bs4 import BeautifulSoup

In [39]:
options = webdriver.ChromeOptions()
options.add_argument("incognito")


driver = webdriver.Chrome(r'C:\Users\tonyr\chromedriver\chromedriver.exe', options=options)
time.sleep(2)


list_address = []
list_price = []
list_bathroom = []
list_bedroom = []
list_furnished = []
list_property_desc = []
list_week = []
list_month = []

In [43]:
for i in range(1,148):
    rent_url = rent_ie_url.format(i)
    driver.get(rent_url)
    time.sleep(4 + random.uniform(0,3))
    soup = BeautifulSoup(driver.page_source, "lxml")
    for adver in soup.find_all("div",class_="search_result"):
        address = adver.find("div", class_="sresult_address")

        list_address.append(address.find("a").get_text().strip())

        description = adver.find("div", class_="sresult_description")
        price_desc = description.find("h4").get_text().strip()
        if "month"  in price_desc.lower():
            list_month.append(1)
        else:
            list_month.append(0)
        if "week"  in  price_desc.lower():
            list_week.append(1)
        else:
            list_week.append(0)
        price = ""
        for item in price_desc:
            if item.isdigit():
                price += item
        list_price.append(int(price))
        
        list_property_desc.append((str(description.find("br").next).strip()))

        

        property_desc = description.find("h3").get_text().strip()
        bathroom_num = ""
        bedroom_num = ""
        furnished = ""  #mapping to 1 for yes - for no
        if "studio apartment to rent" in property_desc:
            bathroom_num = 1
            bedroom_num = 1
            furnished  = 1
        else:
            digits = []
            prop_list = property_desc.split(" ")
            for find in prop_list:
                if find.isdigit():
                    digits.append(find)
            for item in prop_list:
                item = item.strip()
                if "bedroom" in item:
                    bedroom_num = digits[0]
                if "bathroom" in item:
                    bathroom_num = digits[-1]
            furn_status = property_desc.split(",")[-1].strip()
            if "furnished" == furn_status:
                furnished  = 1
            elif "furnished or unfurnished" == furn_status:
                furnished = 1
            if "unfurnished" == furn_status:
                furnished = 0

        #adding the revelant numbers to their respective lists
        list_bathroom.append(bathroom_num)
        list_bedroom.append(bedroom_num)
        list_furnished.append(furnished)
    
        
            
            


#creating a pandas dataframe
import pandas as pd
d = {"Listed property price(€)": list_price, 'Address':list_address,"Bedroom(s)":list_bedroom,"Bathroom(s)": list_bathroom, "Property desc": list_property_desc,"Week YN" : list_week,"Month YN": list_month, "Furnished Status":list_furnished }
df = pd.DataFrame(data=d)
    

df.head()

,Listed property price(€),Address,Bedroom(s),Bathroom(s),Property desc,Week YN,Month YN,Furnished Status
0,1600,"Earlsfield Court, FRANCIS STREET, Dublin 8",2,1,Available 1st June - Two double bedroom apartm...,0,1,1
1,1500,"Clearwater Court North Royal Canal Park, Royal...",2,1,"Available Now - Super spacious, interior desig...",0,1,1
2,2200,"Gallery Quay, Hanover Quay, Dublin 2",2,2,Available Now - Beautiful dual aspect top floo...,0,1,1
3,1300,"23 Trimleston, Hamelet Lane, Balbriggan, Co. D...",2,1,Available 10th June - Available to move into 1...,0,1,1
4,1650,"Apt.2 Shelbourne Village, Ringsend, Dublin 4.,...",1,1,Available Now - Modern apartment in the heart ...,0,1,1

The column furnished status indicates whether a property is furnished or not.  1 indicates furnished 0 indicates unfurnished.
Adress2 represents a shorter address. this is used if the google places API could not find the longitude and latitude of the orIginal address. I noticed there were some  discrepancies  on the website such as repetition and incorrectly formatted. The following code attempts to correct this.

In [46]:
df["Furnished Status"].value_counts()

# have to convert categorical variablefurnished status tp yes maybe and no and create a bs4 rating


df.info()# has 2723 properties listed

df['Bedroom(s)'] = df['Bedroom(s)'].astype(int)

#removign instances where the website did not contain bathroom number or furnished status  
df = df[df['Bathroom(s)'] != ""]
df = df[df["Furnished Status"] != ""]

df['Bathroom(s)'] = df['Bathroom(s)'].astype(int)

df["Furnished Status"] = df["Furnished Status"].astype(int)
df["Address2"] = ""

df["Longitude"]  = ""
df["latitude"] = ""

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5684 entries, 0 to 5683
Data columns (total 8 columns):
Listed property price(€)    5684 non-null int64
Address                     5684 non-null object
Bedroom(s)                  5684 non-null object
Bathroom(s)                 5684 non-null object
Property desc               5684 non-null object
Week YN                     5684 non-null int64
Month YN                    5684 non-null int64
Furnished Status            5684 non-null object
dtypes: int64(3), object(5)
memory usage: 355.3+ KB

In [63]:
i = 0
for item in df["Address"]:
    item = item.split(",")
    if len(item) == 2:
        item = "".join(item)
    elif len(item) == 3:
        item = "".join(item[1:])
    elif len(item) == 4:
        item = "".join(item[2:])
    else:
        item = "".join(item[3:])
    df.iloc[i,8] = item
    i+=1

df_sample was used to understand how to use the google places API. df2 is a sample of 2592 observations from the dataset. I had to do this as google places API has quotes where use is free. Although, beyond this, charges will incur.

In [64]:
df2 = df.sample(2592)
df_sample = df.sample(10)

In [65]:
df2.reset_index(drop=True,inplace=True)
df_sample.reset_index(drop=True,inplace=True)

In [71]:

api_key = os.environ["APIKEY"]
gm = googlemaps.Client(key=api_key)

In [74]:
list_adr = df2["Address"]
list_adr2 = df2["Address2"]
for index,value in list_adr.items():
    index= int(index)
    try:
        gecode_result = gm.geocode(value)[0]
    except IndexError:
        try:
            gecode_result = gm.geocode(list_adr2[index])[0]
        except IndexError:
            try:
                gecode_result = gm.geocode("".join(value.split(",")[-2:]))[0]
            except IndexError:
                gecode_result = gm.geocode("".join(value.split(",")[-1:]))[0]
    if len(gecode_result) >=  1 :
        df2.iloc[int(index),int(9)] = gecode_result["geometry"]['location']['lng']
        df2.iloc[int(index),int(10)] =  gecode_result["geometry"]['location']['lat']
    else:
        print(index,value)

In [76]:
cleaned_df = df2.drop(['Address2'],axis=1)

## Adding Extra Functionailty To Our Dataset

Does the location of a property matter that much when renting a house? Many people in Dublin would agree, as driving cars is impractical due to the huge volumes of traffic coming into the city, public transport is not very affordable and biking under windy rain just sucks! Here, I pick three locations O'Connel bridge, IFSC and 'silicon docks'. After this, I found the distance between the location of each property and the revelant point.

In [79]:
geo_df = deepcopy(cleaned_df)

#o connel bridge cordinates
geo_df["lat_bridge"] = 53.347252
geo_df["long_bridge"]= -6.259245

#ifsc
geo_df["lat_ifsc"] = 53.34947
geo_df["long_ifsc"] =  -6.245472

#silicon docks 
geo_df['lat_silicon_docks'] =  53.343497
geo_df['long_silicon_docks']= -6.23762

geo_df['coord'] = geo_df['latitude'].astype(str) + ',' + geo_df['Longitude'].astype(str)
geo_df['coord_bridge'] = geo_df['lat_bridge'].astype(str) + ',' + geo_df["long_bridge"].astype(str)

geo_df['coord_ifsc'] = geo_df['lat_ifsc'].astype(str) + ',' + geo_df["long_ifsc"].astype(str)

geo_df['coord_silicon_docks'] = geo_df['lat_silicon_docks'].astype(str) + ',' + geo_df["long_silicon_docks"].astype(str)

def get_distance(coord1,coord2):
    dist = geopy.distance.distance(coord1, coord2).km
    return dist

geo_df['dist_bridge'] = ""
#[get_distance(**geo_df[['coord','coord_bridge']].iloc[i].to_dict()) for i in range(geo_df.shape[0])]
len(geo_df.columns)

21

In [83]:
for i in range(geo_df.shape[0]):
    geo_df.iloc[i,20 ] = get_distance(geo_df.iloc[i,16],geo_df.iloc[i,17])
    

geo_df['dist_ifsc'] = ""
geo_df['dist_silicon_docks'] = ""

for i in range(geo_df.shape[0]):
    geo_df.iloc[i,21 ] = get_distance(geo_df.iloc[i,16],geo_df.iloc[i,18])
    geo_df.iloc[i,22 ] = get_distance(geo_df.iloc[i,16],geo_df.iloc[i,19])

In [84]:
geo_df

,Listed property price(€),Address,Bedroom(s),Bathroom(s),Property desc,Week YN,Month YN,Furnished Status,Longitude,latitude,...,long_ifsc,lat_silicon_docks,long_silicon_docks,coord,coord_bridge,coord_ifsc,coord_silicon_docks,dist_bridge,dist_ifsc,dist_silicon_docks
0,1600,"Earlsfield Court, FRANCIS STREET, Dublin 8",2,1,Available 1st June - Two double bedroom apartm...,0,1,1,-6.27406,53.3398,...,-6.245472,53.343497,-6.23762,"53.3397711,-6.2740561","53.347252,-6.259245","53.34947,-6.245472","53.343497,-6.23762",1.29085,2.18846,2.46204
1,1500,"Clearwater Court North Royal Canal Park, Royal...",2,1,"Available Now - Super spacious, interior desig...",0,1,1,-6.31753,53.3776,...,-6.245472,53.343497,-6.23762,"53.3775534,-6.3175322","53.347252,-6.259245","53.34947,-6.245472","53.343497,-6.23762",5.14102,5.72553,6.53233
2,2200,"Gallery Quay, Hanover Quay, Dublin 2",2,2,Available Now - Beautiful dual aspect top floo...,0,1,1,-6.23902,53.3429,...,-6.245472,53.343497,-6.23762,"53.3429414,-6.2390153","53.347252,-6.259245","53.34947,-6.245472","53.343497,-6.23762",1.43017,0.844296,0.111624
3,1300,"23 Trimleston, Hamelet Lane, Balbriggan, Co. D...",2,1,Available 10th June - Available to move into 1...,0,1,1,-6.20668,53.6147,...,-6.245472,53.343497,-6.23762,"53.6147491,-6.206679","53.347252,-6.259245","53.34947,-6.245472","53.343497,-6.23762",29.975,29.6364,30.2589
4,1650,"Apt.2 Shelbourne Village, Ringsend, Dublin 4.,...",1,1,Available Now - Modern apartment in the heart ...,0,1,1,-6.23533,53.3419,...,-6.245472,53.343497,-6.23762,"53.3418769,-6.2353345","53.347252,-6.259245","53.34947,-6.245472","53.343497,-6.23762",1.70113,1.08165,0.235971
5,2200,"Kimmage Grove, Kimmage, Dublin 6w",3,1,Available 1st June - Beautiful 3 bed semi deta...,0,1,1,-6.29146,53.3166,...,-6.245472,53.343497,-6.23762,"53.3165996,-6.2914635","53.347252,-6.259245","53.34947,-6.245472","53.343497,-6.23762",4.03047,4.77182,4.6722
6,1508,"Bridge Street, Ringsend, Dublin 4",1,1,Available 2nd July - Mts property are delighte...,0,1,1,-6.22804,53.3416,...,-6.245472,53.343497,-6.23762,"53.3416398,-6.228035999999999","53.347252,-6.259245","53.34947,-6.245472","53.343497,-6.23762",2.17039,1.45186,0.670968
7,2750,"82 Whiteoaks, Clonskeagh, Dublin 14",3,2,Available 1st June - 3 bedroom semi detached h...,0,1,1,-6.23634,53.3027,...,-6.245472,53.343497,-6.23762,"53.30267019999999,-6.236342199999999","53.347252,-6.259245","53.34947,-6.245472","53.343497,-6.23762",5.191,5.24387,4.54451
8,2500,"30 Beverton Green, Donabate, Co. Dublin",4,3,"Available 5th July - This stunning 4 bedroom, ...",0,1,0,-6.15606,53.4913,...,-6.245472,53.343497,-6.23762,"53.4913327,-6.156061999999999","53.347252,-6.259245","53.34947,-6.245472","53.343497,-6.23762",17.4411,16.8704,17.3238
9,1100,"9 Foxborough Walk, Lucan, Co. Dublin",1,1,Available Now - Stunning 1 bedroom furnished a...,0,1,1,-6.42266,53.3406,...,-6.245472,53.343497,-6.23762,"53.3406348,-6.4226569","53.347252,-6.259245","53.34947,-6.245472","53.343497,-6.23762",10.9085,11.8415,12.3286
10,3100,"Stillorgan Park Avenue, Blackrock, Blackrock, ...",3,3,Available 6th June - Newly built 3 double bedr...,0,1,1,-6.18451,53.2901,...,-6.245472,53.343497,-6.23762,"53.2900603,-6.184507399999999","53.347252,-6.259245","53.34947,-6.245472","53.343497,-6.23762",8.08208,7.76028,6.92078
11,660,"Windsor Road, Rathmines, Dublin 6, Rathmines, ...",3,1,Available 11th June - This is a newly refurbis...,1,0,1,-6.25671,53.3177,...,-6.245472,53.343497,-6.23762,"53.3177038,-6.2567099","53.347252,-6.259245","53.34947,-6.245472","53.343497,-6.23762",3.29283,3.61374,3.13972
12,680,"Windsor Road, Rathmines, Dublin 6, Rathmines, ...",3,1,Available 2nd June - This is a newly refurbish...,1,0,1,-6.25671,53.3177,...,-6.245472,53.343497,-6.23762,"53.3177038,-6.2567099","53.347252,-6.259245","53.34947,-6.245472","53.343497,-6.23762",3.29283,3.61374,3.13972
13,1500,"Marlborough Street 43-46, IFSC, Dublin 1",1,1,Available Now - Owner occupied apt available f...,0,1,1,-6.25713,53.3499,...,-6.245472,53.343497,-6.23762,"53.3498781,-6.2571277","53.347252,-6.259245","53.34947,-6.245472","53.343497,-6.23762",0.324501,0.777522,1.48061
14,480,"Windsor Road, Rathmines, Dublin 6, Rathmines, ...",2,2,Available 1st June - This is a refurbished fir...,1,0,1,-6.25671,53.3177,...,-6.245472,53.343497,-6.23762,"53.3177038,-6.2567099","53.347252,-6.259245","53.34947,-6.245472","53.343497,-6.23762",3.29283,3.61374,3.13972
15,1800,"Glassmore Park, Swords, Co. Dublin",3,1,Available 6th June - Its an end of terrace hou...,0,1,1,-6.23378,53.4607,...,-6.245472,53.343497,-6.23762,"53.4606834,-6.2337832","53.347252,-6.259245","53.34947,-6.245472","53.343497,-6.23762",12.7373,12.4018,13.0446
16,1000,"128 Donomore Crescent, Tallaght, Dublin 24",1,1,Available 6th June - Studio apartment to rent....,0,1,1,-6.38544,53.2741,...,-6.245472,53.343497,-6.23762,"53.2741239,-6.385435999999999","53.347252,-6.259245","53.34947,-6.245472","53.343497,-6.23762",11.704,12.5437,12.5176
17,1650,"8 Fortuneslawn, Citywest, Co. Dublin",2,2,"Available 8th June - Fortunestown lawn , cityw...",0,1,0,-6.42411,53.2834,...,-6.245472,53.343497,-6.23762,"53.2833785,-6.424114299999999","53.347252,-6.259245","53.34947,-6.245472","53.343497,-6.23762",13.087,13.9946,14.1162
18,1975,"Symphony House, Adelaide Road, Dublin 2",1,1,Available 15th June - Available mid-june. Get ...,0,1,1,-6.25436,53.332,...,-6.245472,53.343497,-6.23762,"53.3319689,-6.254359099999999","53.347252,-6.259245","53.34947,-6.245472","53.343497,-6.23762",1.73175,2.03571,1.69981
19,1740,"Blackrock County Dublin, Blackrock, Dublin 4",2,2,Available Now - Five months maximum. Large 2 b...,0,1,0,-6.17707,53.3008,...,-6.245472,53.343497,-6.23762,"53.300791,-6.1770667","53.347252,-6.259245","53.34947,-6.245472","53.343497,-6.23762",7.53136,7.07993,6.23468
20,3300,"Convent Hall Penthouse, Mount Saint Annes, Mil...",3,2,Available 1st June - ****short term option of ...,0,1,0,-6.25046,53.314,...,-6.245472,53.343497,-6.23762,"53.3139984,-6.2504575","53.347252,-6.259245","53.34947,-6.245472","53.343497,-6.23762",3.7469,3.96167,3.39256
21,2000,"Fitzwilliam Quay, Ringsend, Dublin 4",2,1,Available 2nd June - A choice second floor two...,0,1,1,-6.22828,53.3415,...,-6.245472,53.343497,-6.23762,"53.3414626,-6.228281099999999","53.347252,-6.259245","53.34947,-6.245472","53.343497,-6.23762",2.16056,1.45086,0.661941
22,2200,"203 Kildare Road, Crumlin, Dublin 12",3,2,Available 14th June - Beautifully presented 3 ...,0,1,1,-6.30824,53.3249,...,-6.245472,53.343497,-6.23762,"53.3249475,-6.308235700000001","53.347252,-6.259245","53.34947,-6.245472","53.343497,-6.23762",4.10029,4.99281,5.1373
23,1900,"27 Ropewalk Place, Ringsend, Dublin 4",2,1,Available 1st July - ***well presented 2nd flo...,0,1,1,-6.22557,53.3422,...,-6.245472,53.343497,-6.23762,"53.3422077,-6.2255684","53.347252,-6.259245","53.34947,-6.245472","53.343497,-6.23762",2.31209,1.55254,0.815411
24,2200,"66a The Rise, Boden Park, Rathfarnham, Dublin 14",4,2,Available 6th June - ***please note that this ...,0,1,1,-6.29866,53.2812,...,-6.245472,53.343497,-6.23762,"53.2811911,-6.298659","53.347252,-6.259245","53.34947,-6.245472","53.343497,-6.23762",7.80726,8.38503,8.03953
25,1600,"Richmond Avenue, Fairview, Dublin 3",2,2,"Available 15th July - An excellent 2 bedroom, ...",0,1,1,-6.24339,53.3637,...,-6.245472,53.343497,-6.23762,"53.36373159999999,-6.2433857","53.347252,-6.259245","53.34947,-6.245472","53.343497,-6.23762",2.11634,1.59328,2.28446
26,2300,"College Park, Ballinteer Road, Dundrum, Dublin 14",3,3,Available 15th June - ***available on short te...,0,1,0,-6.30523,53.3041,...,-6.245472,53.343497,-6.23762,"53.3041464,-6.305230099999999","53.347252,-6.259245","53.34947,-6.245472","53.343497,-6.23762",5.69233,6.42628,6.28295
27,1300,"Eccles Street, Off Dorset Street, Dublin 1",1,1,Available Now - Call property vision on 086158...,0,1,1,-6.26349,53.3575,...,-6.245472,53.343497,-6.23762,"53.3575297,-6.2634896","53.347252,-6.259245","53.34947,-6.245472","53.343497,-6.23762",1.17824,1.49799,2.32525
28,1425,"33 Mountjoy Square, Dublin 1",1,1,Available 6th July - Beautiful and spacious on...,0,1,1,-6.25531,53.3561,...,-6.245472,53.343497,-6.23762,"53.3561495,-6.2553149","53.347252,-6.259245","53.34947,-6.245472","53.343497,-6.23762",1.02423,0.991059,1.83613
29,1250,"Marlborough Road, Donnybrook, Dublin 4",1,1,Available Now - - superb location - newly reno...,0,1,1,-6.241,53.3247,...,-6.245472,53.343497,-6.23762,"53.32469990000001,-6.241004999999999","53.347252,-6.259245","53.34947,-6.245472","53.343497,-6.23762",2.78852,2.77274,2.1041
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5626,675,"Grafton Street, Dublin 2",2,2,Available Now - Grafton street boutique two be...,1,0,1,-6.25922,53.343,...,-6.245472,53.343497,-6.23762,"53.3430367,-6.2592225","53.347252,-6.259245","53.34947,-6.245472","53.343497,-6.23762",0.469135,1.16244,1.43971
5627,655,"Parnell Street, Dublin 1",1,1,Available Now - Spacious one bedroom apartment...,1,0,1,-6.26903,53.3496,...,-6.245472,53.343497,-6.23762,"53.3495949,-6.2690321","53.347252,-6.259245","53.34947,-6.245472","53.343497,-6.23762",0.701999,1.56902,2.19932
5628,4900,"Gallery Quay, Grand Canal Quay, Grand Canal Do...",2,2,Available 13th July - Corporate serviced accom...,0,1,1,-6.23902,53.3429,...,-6.245472,53.343497,-6.23762,"53.3429414,-6.2390153","53.347252,-6.259245","53.34947,-6.245472","53.343497,-6.23762",1.43017,0.844296,0.111624
5629,3900,"Warrington Place, Dublin 2, Ballsbridge, Dublin 4",1,1,Available Now - Corporate serviced accommodati...,0,1,1,-6.23052,53.3289,...,-6.245472,53.343497,-6.23762,"53.3288697,-6.2305235","53.347252,-6.259245","53.34947,-6.245472","53.343497,-6.23762",2.80101,2.49955,1.69516
5630,4800,"The Waterfront, Hanover Quay, Grand Canal Dock...",2,2,Available Now - Corporate serviced accommodati...,0,1,1,-6.23426,53.3439,...,-6.245472,53.343497,-6.23762,"53.343944,-6.234261","53.347252,-6.259245","53.34947,-6.245472","53.343497,-6.23762",1.70417,0.96731,0.229183
5631,4200,"The Sweepstakes, Ballsbridge, Ballsbridge, Dub...",2,2,Available Now - Serviced corporate accomodatio...,0,1,1,-6.22829,53.3315,...,-6.245472,53.343497,-6.23762,"53.33151909999999,-6.228286600000001","53.347252,-6.259245","53.34947,-6.245472","53.343497,-6.23762",2.70522,2.3025,1.47091
5632,3900,"The Cedars, Herbert Park Lane, Ballsbridge, Du...",1,1,Available 13th June - Corporate serviced accom...,0,1,1,-6.23196,53.3273,...,-6.245472,53.343497,-6.23762,"53.3273214,-6.231961699999999","53.347252,-6.259245","53.34947,-6.245472","53.343497,-6.23762",2.8676,2.62412,1.83926
5633,3800,"The Cedars, Herbert Park Lane, Ballsbridge, Du...",1,1,Available Now - Corporate serviced accommodati...,0,1,1,-6.23196,53.3273,...,-6.245472,53.343497,-6.23762,"53.3273214,-6.231961699999999","53.347252,-6.259245","53.34947,-6.245472","53.343497,-6.23762",2.8676,2.62412,1.83926
5634,3800,"The Cedars, Herbert Park Lane, Ballsbridge, Du...",1,1,Available Now - Corporate serviced accommodati...,0,1,1,-6.23196,53.3273,...,-6.245472,53.343497,-6.23762,"53.3273214,-6.231961699999999","53.347252,-6.259245","53.34947,-6.245472","53.343497,-6.23762",2.8676,2.62412,1.83926
5635,3800,"The Argyle, Custom House Quay, IFSC, Dublin 1",1,1,Available Now - Corporate serviced accommodati...,0,1,1,-6.24638,53.3511,...,-6.245472,53.343497,-6.23762,"53.3510532,-6.2463783","53.347252,-6.259245","53.34947,-6.245472","53.343497,-6.23762",0.955594,0.186249,1.02343
5636,875,"The Cubes 3 Floor 4 Beacon South Quarter, Sand...",2,2,Available Now - This 4th floor short term apar...,1,0,1,-6.21693,53.2769,...,-6.245472,53.343497,-6.23762,"53.2768805,-6.2169303","53.347252,-6.259245","53.34947,-6.245472","53.343497,-6.23762",8.32415,8.29959,7.54106
5637,875,"Kelston Avenue, Foxrock, Dublin 18",2,2,Available Now - Magnificent short term ground ...,1,0,1,-6.18523,53.2771,...,-6.245472,53.343497,-6.23762,"53.2771494,-6.1852323","53.347252,-6.259245","53.34947,-6.245472","53.343497,-6.23762",9.23063,8.99455,8.168
5638,875,"The Amber The Grange Brewery Road, Blackrock, ...",2,2,Available Now - This short term newly refurbis...,1,0,1,-6.19283,53.2804,...,-6.245472,53.343497,-6.23762,"53.2803992,-6.1928322","53.347252,-6.259245","53.34947,-6.245472","53.343497,-6.23762",8.65732,8.44979,7.63047
5639,1400,"Ridge Hall Ballybrack, Glenageary, Co. Dublin",3,3,Available Now - Ridge hall is a stunning short...,1,0,1,-6.12404,53.2515,...,-6.245472,53.343497,-6.23762,"53.2515058,-6.1240351","53.347252,-6.259245","53.34947,-6.245472","53.343497,-6.23762",13.9574,13.58,12.7345
5640,2900,"Galloping Green Stillorgan Co Dublin, Stillorg...",3,2,Available Now - This a short term 3 bedroom pe...,0,1,1,-6.18882,53.2803,...,-6.245472,53.343497,-6.23762,"53.28032169999999,-6.188822","53.347252,-6.259245","53.34947,-6.245472","53.343497,-6.23762",8.80428,8.57195,7.74677
5641,1950,"Ferncourt, Stepaside, Dublin 18",2,2,Available 14th June - This modern ground floor...,0,1,1,-6.20784,53.2539,...,-6.245472,53.343497,-6.23762,"53.2538968,-6.20784","53.347252,-6.259245","53.34947,-6.245472","53.343497,-6.23762",10.9403,10.9284,10.1675
5642,900,"Adelphi House, Dun Laoghaire, Co. Dublin",2,2,Available Now - This is a superb short term ap...,1,0,1,-6.1323,53.2903,...,-6.245472,53.343497,-6.23762,"53.2903326,-6.1322987","53.347252,-6.259245","53.34947,-6.245472","53.343497,-6.23762",10.5687,10.0098,9.1802
5643,795,"Benson Street, Grand Canal Dock, Dublin 2",2,2,Available Now - Spacious two bedroom two bathr...,1,0,1,-6.23327,53.3448,...,-6.245472,53.343497,-6.23762,"53.344784,-6.233272899999999","53.347252,-6.259245","53.34947,-6.245472","53.343497,-6.23762",1.75139,0.965414,0.323019
5644,700,"Aikens Village, Sandyford, Dublin 18",2,2,Available Now - Aikens village services apartm...,1,0,1,-6.22449,53.2633,...,-6.245472,53.343497,-6.23762,"53.26328969999999,-6.2244889","53.347252,-6.259245","53.34947,-6.245472","53.343497,-6.23762",9.62729,9.69264,8.96925
5645,475,"Cabra Park, Dublin 7",1,1,Available Now - Spacious one bedroom apartment...,1,0,1,-6.27724,53.3619,...,-6.245472,53.343497,-6.23762,"53.361896,-6.2772375","53.347252,-6.259245","53.34947,-6.245472","53.343497,-6.23762",2.02274,2.52706,3.33953
5646,4200,"Pavillion, Dun Laoghaire, Co. Dublin",2,2,Available Now - The pavilion: dublin\n\nluxury...,0,1,1,-6.13277,53.2937,...,-6.245472,53.343497,-6.23762,"53.2937214,-6.132775","53.347252,-6.259245","53.34947,-6.245472","53.343497,-6.23762",10.3209,9.74125,8.91666
5647,7000,"Penthouse Apartment, Intercontinental Hotel, B...",2,3,Available Now - Stunning fully furnished apart...,0,1,1,-6.22608,53.3266,...,-6.245472,53.343497,-6.23762,"53.3266078,-6.226078999999999","53.347252,-6.259245","53.34947,-6.245472","53.343497,-6.23762",3.18743,2.85354,2.0308
5648,8400,"Sorrento Road, Dalkey, Co. Dublin",5,5,"Available 1st June - Rent is €1,200 per night ...",1,0,1,-6.09755,53.2738,...,-6.245472,53.343497,-6.23762,"53.2738481,-6.0975547","53.347252,-6.259245","53.34947,-6.245472","53.343497,-6.23762",13.5236,12.9627,12.1347
5649,1155,"Baggot Rath 3bs5, Newbridge Avenue, Ballsbridg...",3,2,Available Now - The short term properties are ...,1,0,1,-6.22385,53.3342,...,-6.245472,53.343497,-6.23762,"53.3342002,-6.2238492","53.347252,-6.259245","53.34947,-6.245472","53.343497,-6.23762",2.76918,2.2276,1.38273
5650,805,"The Forum, Sandyford, Dublin 18",2,2,"Available Now - For online availability, rates...",1,0,1,-6.21063,53.2778,...,-6.245472,53.343497,-6.23762,"53.277778,-6.210629","53.347252,-6.259245","53.34947,-6.245472","53.343497,-6.23762",8.38344,8.30985,7.53202
5651,1050,"Baggot Rath 2bs4, Newbridge Avenue, Dublin 4",2,2,Available Now - These short term rental proper...,1,0,1,-6.22375,53.3342,...,-6.245472,53.343497,-6.23762,"53.3342407,-6.2237512","53.347252,-6.259245","53.34947,-6.245472","53.343497,-6.23762",2.77238,2.2284,1.38371
5652,1127,"Baggot Rath Penthouse Apartment, Newbridge Ave...",2,2,Available Now - These short term properties ar...,1,0,1,-6.22385,53.3342,...,-6.245472,53.343497,-6.23762,"53.3342002,-6.2238492","53.347252,-6.259245","53.34947,-6.245472","53.343497,-6.23762",2.76918,2.2276,1.38273
5653,1160,"Baggot Rath House, Newbridge Ave, Ballsbridge,...",3,2,Available Now - This apartment is for short te...,1,0,1,-6.22385,53.3342,...,-6.245472,53.343497,-6.23762,"53.3342002,-6.2238492","53.347252,-6.259245","53.34947,-6.245472","53.343497,-6.23762",2.76918,2.2276,1.38273
5654,790,"Baggot Rath House, Newbridge Ave, Ballsbridge,...",1,1,Available Now - Would suit medical staff tryin...,1,0,1,-6.22385,53.3342,...,-6.245472,53.343497,-6.23762,"53.3342002,-6.2238492","53.347252,-6.259245","53.34947,-6.245472","53.343497,-6.23762",2.76918,2.2276,1.38273
5655,870,"Baggot Rath, Newbridge Avenue, Ballsbridge, Du...",2,2,Available Now - Would suit medical staff tryin...,1,0,1,-6.22385,53.3342,...,-6.245472,53.343497,-6.23762,"53.3342002,-6.2238492","53.347252,-6.259245","53.34947,-6.245472","53.343497,-6.23762",2.76918,2.2276,1.38273

In [85]:
# dropping columns that were only needed to caclulate the distance
rent_df = deepcopy(geo_df.drop(['lat_bridge','long_bridge','lat_ifsc','long_ifsc','lat_silicon_docks','long_silicon_docks','coord','coord_bridge','coord_ifsc','coord_silicon_docks'],axis=1))

## Area Trendiness: Using The Google Places API

How do we measure the effect of trendiness or popularity in a qauntitative way? Popular areas tend to have better amenities such as resturant's. I choose google places API to get an average review rating of restaurants nearby(1.5km radius) and an average price level.

**Review ratings** have a range of (1 to 5)  based on aggregated user reviews. 

The **price level** of the place, on a scale of 0 to 4. The exact amount indicated by a specific value will vary from region to region. Price levels are interpreted as follows: 
- 0 — Free
- 1 — Inexpensive
- 2 — Moderate
- 3 — Expensive
- 4 — Very Expensive

In [86]:
apikey= os.environ["APIKEY"]
rent_df['coord'] = rent_df['latitude'].astype(str) + ',' + rent_df['Longitude'].astype(str)
my_fields = ['price_level', 'rating']
rent_df["price level"] = ""
rent_df['rating'] = ""

gmaps = googlemaps.Client(apikey')

def search_places(loc,rad,types,open_now=False):
    places = []
    place_results = gmaps.places_nearby(location=loc,radius=rad,type=types,open_now=False)
    places.extend(place_results["results"])
    time.sleep(3)
    while "next_page_token" in place_results:
        place_results = gmaps.places_nearby(location=loc,page_token=place_results['next_page_token'])
        places.extend(place_results['results'])
        time.sleep(3)
    return places

In [ ]:
for index,value in rent_df['coord'].items():
    place_result = search_places(loc =value ,rad=1500,types='resturant')
    list_price_level= []
    list_rating = []
    for place in place_result:
        try:
            rating = place['rating']
        except KeyError:
            rating = None

        try:
            price_level = place['price_level']
        except KeyError:
            price_level = None
        if price_level:
            list_price_level.append(price_level)
        if rating:
            list_rating.append(rating)
    if len(list_price_level) >0:
        rent_df.iloc[index,14] = sum(list_price_level)/len(list_price_level)
    if len(list_rating) > 0:
        rent_df.iloc[index,15] = sum(list_rating)/len(list_rating)

In [91]:
rent_df.to_hdf('collected_rented_data.h5', key='df', mode='w')

C:\Users\tonyr\Anaconda3\lib\site-packages\pandas\core\generic.py:2377: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block2_values] [items->['Address', 'Property desc', 'Longitude', 'latitude', 'dist_bridge', 'dist_ifsc', 'dist_silicon_docks', 'coord', 'price level', 'rating']]

  return pytables.to_hdf(path_or_buf, key, self, **kwargs)